.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Elementos uno debajo del otro */
    align-items: center; /* Centra horizontalmente */
    justify-content: start; /* Elementos empiezan desde arriba */
    padding-top: 38px;

    font-family: 'Poppins', sans-serif;
    line-height: 1.05;

    background-image: url('/public/img/BGmain.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }

.logo-monos {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 84px;
    height: 85px;
    margin: 0 auto 20px;
    display: block;
}

.logo-hp {
    position: absolute;
    top: 30px;
    left: 110px;
    width: 175px;
    height: 95px;
    margin: 0 auto 20px;
    display: block;
}


.icon-logout{
    position: absolute;
    top: 54px;
    right: 30px;
    width: 50px;
    height: 45px;
    margin: 0 auto 20px;
    display: block;
}

.bienvenida {
    font-size: 25px;
    font-weight: 650;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: rgb(87, 87, 87) 0px 0px 8px;
}

.icon-logout {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
    cursor:pointer;
  }