.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Elementos uno debajo del otro */
    align-items: center; /* Centra horizontalmente */
    justify-content: start; /* Elementos empiezan desde arriba */
    padding-top: 50px;

    font-family: 'Poppins', sans-serif;
    line-height: 1.05;

    background-image: url('/public/img/BGmain.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* o el ancho que quieras */
    background-color: white; /* opcional, para que no sea transparente */
    z-index: 1000; /* asegúrate que esté por encima del resto */
    padding: 10px;

  }

  .dashboard-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0); /* fondo semitransparente */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 1000;
  }
  
  .left-logos {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .right-profile {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  /* Mueve el menú principal más abajo para que no se oculte por el header */
  .dashboard-menu {
    margin-top: 150px;
    text-align: center;
    list-style: none;
    padding: 0;
  }
  
  .dashboard-menu li {
    margin: 15px 0;
  }
  
  .dashboard-menu a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
  }

.logo-monos {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 84px;
    height: 85px;
    margin: 0 auto 20px;
    display: block;

}

.logo-hp {
    position: fixed;
    top: 30px;
    left: 110px;
    width: 175px;
    height: 95px;
    margin: 0 auto 20px;
    display: block;
}


.icon-logout{
    position: fixed;
    top: 54px;
    right: 30px;
    width: 50px;
    height: 45px;
    margin: 0 auto 20px;
    display: block;
}

.bienvenida {
    font-size: 28px;
    font-weight: 650;
    margin-bottom: 20px;
    margin-top: 60px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: rgb(66, 66, 66) 0px 0px 8px;
}

.icon-logout {
    position: fixed;
    top: 55px;
    right: 90px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

.profile-icon {
    position: fixed;
    top: 50px;
    right: 25px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    
}
    