#sidebar {
  width: 160px;
  background-color: rgba(72, 0, 255, 0.147);
  padding: 18px;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  left: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.8s ease forwards;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.sidebar-content {
  flex: 1;
  padding-bottom: 120px; /* Espacio para la sección de usuario */
}

/* animación */
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar ul li {
  margin-bottom: 15px;
}

#sidebar ul li a, 
#sidebar ul li button {
  text-decoration: none;
  color: #ffffff; 
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
  display: flex; 
  align-items: center; /*icono y text*/
  gap: 15px; /*espacio entre ícono y text*/
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transition: all 0.3s ease;
  margin-left: 0;
  border-radius: 8px;
  line-height: 20px;
  padding-left: 3px;;
}

.sidebar-icon {
  font-size: 60px; 
}

#sidebar ul li a:hover, 
#sidebar ul li button:hover {
  color: #ffffff;
  background-color: #69b9ff80;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateX(4px) scale(1.05);
}

/*al picarle */
#sidebar ul li a:active, 
#sidebar ul li button:active {
  transform: scale(0.95);
}

/*link activo */
.sidebar-link.active {
  background: linear-gradient(to right, #ff0088d6, #ffbb00d0) !important;
  color: #ffffff !important;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  width: 90%;
}

/*icon de link activo */
.sidebar-link.active .sidebar-icon,
.sidebar-link.active .home-icon,
.sidebar-link.active .add-icon {
  color: #ffffff;
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.logo-jiji {
  position: relative;
  left: 20px;
  width: 84px;
  height: 85px;
  top: 10px;
  margin-bottom: 50px;
}

.logo-hp1 {
  position: relative;
  left: 0;
  width: 175px;
  height: 95px;
}

.add-icon {
font-size: 50px;
}

.home-icon {
  font-size: 35px;
}

/* Estilos para la sección de usuario */
.user-section {
  padding: 25px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  width: 70%;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 25px 28px;
  z-index: 1000;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
}

.user-icon {
  font-size: 24px;
  color: #ffffff;
}

.username {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #ffffff;
}